[Unit]
Description=mprov worker server service
Wants=network-online.target
After=network-online.target
After=time-sync.target

[Service]
Type=simple
EnvironmentFile=/etc/sysconfig/mprov
ExecStart=/usr/bin/mprov -m ${MPROV_WORKER_OPTIONS}

[Install]
WantedBy=multi-user.target
